@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    font-family: Arial, Helvetica, sans-serif
}
header {
    width: auto;
    background-image: linear-gradient(to bottom, blue, darkblue);
    color: white;
    padding: 10px;
    margin: auto;
}
header > h1 {
    margin-bottom: -20px;
    font-size: 7vw;
}
.h2 {
    color: white;
}
#principal {
    text-align: center;
    
}
nav {
    background-color: darkblue;
    padding: 5px;
    padding-left: 20px;
    /*comando: desloc horizontal desloc vertical espalhamento cor;*/
    box-shadow: 0px 1px 2px black;
    /*inset cria sombra interna*/
}
nav > a {
    font-size: 20px;
    text-decoration: none;
    color: wheat;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px; 
}
nav > a:hover {
    background-color: rgb(41, 41, 155);
    color: white;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 255, 255, 0.349); 
    margin: 0px;           
}
main {
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    padding: 10px;
    margin-top: 3vw;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 3vw;
    border-radius: 20px 40px 50px 70px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.658);
}
main > p {
    font-size: 20px;
    text-indent: 5px;
}
.bold {
    font-weight: bolder;
}
.center {
    margin-left: 10px;
}
article {
    background-color: aquamarine;
    padding: 5px;
    margin: 0px;
    border-radius: 0px 0px 50px 70px;
}
#
#h3 {
    margin: 7vw;
}
article > p {
    margin: 7vw;
}
article > aside {
    padding-bottom: 10px;
    border-radius: 0px 0px 50px 70px;
    background-color: rgb(255, 255, 255);
}
aside {
    text-align: center;
}
footer {
    background-image: linear-gradient(to bottom, darkblue, black);
    color: white;
    text-align: center;
    padding: 8px 8px 0px 8px;
    margin: auto;
    padding-bottom: 20vw
}
footer > p {
    margin: 0px;

}
/*
div.bola {       
    height: 25vw;
    width: 25vw;
    margin: 10px;
    background-color: rgb(255, 255, 255);  
    border-radius: 50%;  
}*/
