@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    font-family: Arial, Helvetica, sans-serif
}
header {
    width: auto;
    background-image: linear-gradient(to bottom, blue, darkblue);
    color: white;
    padding: 10px;
    margin: auto;
}
header > h1 {
    margin-bottom: -20px;
    font-size: 7vw;
}
.h2 {
    background-image: none;
    color: white;
}
#principal {
    padding: 1vw 10vw 1vw 10vw;
    text-align: center;
    
}
nav {
    background-color: darkblue;
    padding-left: 40px;
    /*comando: desloc horizontal desloc vertical espalhamento cor;*/
    box-shadow: 0px 1px 2px black;
    /*inset cria sombra interna*/
}
#nav > a {
    font-size: 20px;
    text-decoration: none;
    color: wheat;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px; 
}
nav > a:hover {
    background-color: rgb(41, 41, 155);
    color: white;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 255, 255, 0.349); 
    margin: 0px;           
}
main {    
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    padding: 1vw 10vw 5vw 10vw;
    margin: 3vw 2vw 10vw 3vw;
    border-radius: 20px 40px 50px 70px;
    box-shadow: 4px 4px 9px 0px rgba(0, 0, 0, 0.658);
}
main > h1{
    background-image: linear-gradient(to right, blue 75vw, transparent 75vw);
    
    color: white;
}
main a{
    color: black;
    box-shadow: 2px 2px 5px black;
  
    text-decoration: none;
    border-radius: 5px; 
}
main a:hover {
      background-color: aqua;
      color: black;
}
main > p {
    font-size: 20px;
    text-indent: 5px;
}
table{
    width: 10vw;
    border-collapse: collapse;
    font-size: 2.5vw;
    text-align: center;

}
tr.linha {
    background-color: gray;

}
td {
    border: 1px solid black;
    padding:  1px;
}
td.dado {
    background-color: yellow;
}
.titulo-tabela{
    background-color: blue;
    color: white;
}
div.video { 
    margin-bottom: 30px;
    padding: 20%;
    padding-bottom: 58%;
    position: relative;

}
div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
.par{
    background-color: aqua;
}
.bold {
    font-weight: bolder;
}
.center {
    text-align: center;
}
.pre {
    font-size: 2.2vw;
   
}
.box-ex{width: 100px;
    height: 50px;
    border: 10px solid red;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    outline: 20px solid blue;    
    padding: 20px;
    text-align: center;

}
article {
    background-color: aquamarine;
    padding: 5px;
    margin: -10px -10vw -5vw -10vw;
    border-radius: 0px 0px 50px 70px;
}
#h3 {
    margin: 7vw;
}
article > p {
    margin: 7vw;
}
article > aside {
    padding-bottom: 10px;
    border-radius: 0px 0px 50px 70px;
    background-color: rgb(255, 255, 255);
}
aside {
    text-align: center;
    padding-top: 10px;
}
footer {
    background-image: linear-gradient(to bottom, darkblue, black);
    color: white;
    text-align: center;
    padding: 8px 8px 0px 8px;
    margin: auto;    
}
footer h2{
    text-align: center;
}
footer > p {
    margin: 10px 0px -10px 0px;

}
footer a{
    color: white;
    box-shadow: 5px 5px 5px black;
}
.links-footer{
    text-align: left;
}
footer > div{
    display: inline-block;
    text-align: left;
    margin: 30px;
}
.div2{
    margin-top: 0px;
}
footer a:hover{
    color: aqua;
}
/*
div.bola {       
    height: 25vw;
    width: 25vw;
    margin: 10px;
    background-color: rgb(255, 255, 255);  
    border-radius: 50%;  
}*/
