@charset "UTF-8";
        /*@font-face {
            font-family: ;
            src: url("nome do arquivo") format(otf), url("nome do arquivo") format(ttf); /*pesquise o formato específico e adicione várias versões para, caso o navegador não seja compatível com um formato o outro esteja disponível.
            font-weight: normal;
            font-style: normal;
        } */



body {
    background-color: lightgoldenrodyellow;    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;    
}
h1 {
    color: white;
    background-color: blue;
    text-align: center;
}
#principal {
    text-align: center;
    
}
h2 {
    background-color: blue;
    text-align: center;
}
p {
    text-align: justify; 
    text-indent: 15px;           
}
.class {
    font-weight: bold;
    color: blue;
}
.class2 {
    background-color: rgba(0, 0, 0, 0.219);
}
.class3 {
    font-style: italic;
}
 /*Exemplos de pseudo-classe e pseudo-elemento usados pelo Guanabara.

a:hover {
    color: black;
    text-decoration: underline;
}

a::after {
    content: '{link}';
    text-decoration: none;
    font-weight: normal;
    color: darkgray;
} 
*/


